:root{
  --time :1.2s;
}
html{
  width: 100%;
}
.scrolled{
  position: absolute;
  left: 50%;
  height: 2%;
  width: 1px;
  transition :var(--time);
  
}
.first_line{
  position: absolute;
  top: 0px;
  opacity: 0.5;
  left: 50%;
  height: 50%;
  width: 1px;
  transition :var(--time);
}
.base_line_1{
height:40%;  
transition :var(--time);
}
.base_line_2{
  height: 80%;  
   transition :var(--time);
} 

 .base_line_3{
  height:120%;  
   transition :var(--time);
} 
 .base_line_4{
  height: 40%;  
   transition :var(--time);
}

.base_line_5{
  height: 80%;  
  transition :var(--time);
 }
 .base_line_6{
  height: 120%;
   transition :var(--time);
}

.base_line_7{
  height: 163%;
   transition :var(--time);
}

.base_line_8{
  height: 200%;
   transition :var(--time);
}
.base_line_9{
  height: 220%;
   transition :var(--time);
}
.base_line_10{
  height: 246%;
   transition :var(--time);
}
.mainclass{
 
  transition: ease;
  /* animation: divanimation 10s ease; */
}
.mainsvg{
  background-color: red;
}
@keyframes divanimation {
  0%{
    height: 0%;
  
  }
  25%{
    height: 25%;
  }
  50%{
    height: 50%;
  }
  75%{
    height: 75%;
  }
  85%{
    height: 85%;
  }

  90%{
    height: 100%;
  }

  
}
/* timeline.css */
.main-div {
  padding: 1rem; 
}

.line-div {
  width: 100%; /* Ensure the line is full width */
}

@media (max-width: 768px) {
 
  .main-div {
    padding: 0.5rem; /* Reduce padding on smaller screens */
  }
  .card {
    margin: 0 0.5rem; /* Add margin to avoid content touching edges */
  }
  .text-lg {
    font-size: 1.rem; /* Adjust text size for better readability */
  }
  .text-4xl {
    font-size: 2rem; /* Adjust heading size */
  }
}
